
<div class="card mt-2" style="width:40%;margin-left:auto;margin-right:auto; ">
    <div class="card-body text-center" >
      <h3>Iniciar Sesion</h3>
        <div class="mt-0">
            <b><label for="exampleFormControlInput1" class="form-label">Nombre Usuario:</label></b>
            <input type="email" class="form-control" id="txtUserName" placeholder="">
          </div>
          <div class="mt-2">
            <label for="inputPassword2" class="visually-hidden"></label>
            <b><label for="exampleFormControlInput1" class="form-label">Contraseña:</label></b>
            <input type="password" class="form-control" id="txtPassword" placeholder="">
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary mb-3">Aceptar</button>
          </div>
          <div class="forgot-password">
            <a class="text-center" href="#">¿Olvidaste tu Contraseña?</a>
            <p class="text-center">¿Eres nuevo?</p>
            <a class="text-center" routerLink="/sing-up">Registrate</a>
          </div>
    </div>
</div>
 