<div class="fixed-bottom bg-dark">
    <div class="container-fluid">
        <div class="row">
          <div class="row">
            <p class="footer-text">{{socialNetworktext}}</p>
          </div>
            <div class="col" style="border: solid 1px blue;">
                <a class="footer-ico" href="https://www.facebook.com/Tetenis-106716638806662"><i class="fa-brands fa-facebook-f"> Facebook</i></a>
            </div> 
          <div class="col" style="border:solid 1px red">
            <a class="footer-ico" href="https://www.facebook.com/Tetenis-106716638806662"><i class="fa-brands fa-instagram"> Instagram</i></a>          </div>
          <div class="col" style="border:solid 1px green">
            <p class="footer-text" style="text-align: center;">tobedefine</p>
          </div>
        </div>
        <div class="row">
                <p class="footer-text-down">Develop by:&copy;{{author+','+releaceYear}}</p>
        </div>
    </div>    
</div>
