<div class="container">
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-6">
                        <div class="card text-center">
                            <div class="card-header">
                                <h4>Acceder</h4>
                            </div>
                            <div class="card-body text-center">
                                <div class="mt-3">
                                    <b><label for="exampleFormControlInput1" class="form-label">Nombre Usuario/Numero Celular:</label></b>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                </div>
                                <div class="mt-3">
                                    <b><label for="exampleFormControlInput1" class="form-label">Contraseña:</label></b>
                                    <input type="password" class="form-control" id="inputPassword2" placeholder="">
                                </div>
                                <div class="mt-2 text-center">
                                    <button type="submit" class="btn btn-primary mb-1">Aceptar</button>
                                </div>
                                <!--  -->
                                <h6>Puedes acceder con Facebook o Gmail</h6>
                                <a class="sing-up-lg" href="#"><i class="fa-brands fa-square-facebook"></i></a>
                                <a class="sing-up-lg" href="#"><i class="fa-brands fa-google"></i></a>
                                <br>
                                <form action="">
                                    <a class = "sing-up-action" href = "#" role="button">Acceder </a>
                                    <input type = "checkbox" name = "chkSingUp" id=""><label for="chkSingUp">Recuérdame</label>
                                    <br>
                                    <a class = "sing-up-action" href = "">¿Olvidaste tu Contraseña?</a>
                                </form>
                          
                                
                            </div>
                          
                        </div>
            </div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header"><h4>Registrate</h4></div>
                    <div class="card-body">
                        <form action="">
                            <div class="mt-3">
                                <b><label for="exampleFormControlInput1" class="form-label">Nombre Usuario/Numero Celular:</label></b>
                                <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mt-3">
                                <b><label for="exampleFormControlInput1" class="form-label">Correo Electronico:</label></b>
                                <div class="row">
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    <select class="form-select" aria-label="Default select example" style="width:50% ;">
                                        <option selected>Open this select menu</option>
                                        <option value="1">@gmail.com</option>
                                        <option value="2">@hotmail.com</option>
                                        <option value="3">@outlook.com</option>
                                      </select>
                                </div>
                                
                            </div>
                            <div class="mt-3">
                                <b><label for="exampleFormControlInput1" class="form-label">Contraseña:</label></b>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="">
                            </div>
                            <div class="mt-3">
                                <b><label for="exampleFormControlInput1" class="form-label">Confirmar contraseña:</label></b>
                                <input type="password" class="form-control" id="inputPassword2" placeholder="">
                            </div>
                            <div class="mt-4 text-center">
                                <button type="submit" class="btn btn-primary mb-1">Aceptar</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
